body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 50px;
}

p {
    color:black;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: rgb(249, 249, 251);
}
p2 {
    color: black;
    font-size: 25px;
    margin-bottom: 20px;
    background-color: rgb(161, 156, 156);
}

